@media only screen and (min-width:200px) and (max-width: 575px) {
    .btn-outer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: white;
        padding: 5px 0px;
        left: 0px;
        justify-content: center !important;
    }
    .whatsappbtn,.call {
        padding: 7px 15px;
        font-size: 0.875rem;
    }
    .bannercontent h1 {
        font-size: 1.7rem;
        font-weight: 700;
        text-align: center;
        line-height: 35px;
    }
    .bannercontent br {
        display: none;
    }
    .bannercontent p,.bannercontent ul li {
        font-size: 1rem;
    }
    .bannercontentbtn {
        flex-direction: column;
    }
    .bannercontentbtn button {
        width: 100%;
    }
    .bannerform {
        padding: 20px;
    }

}